@font-face {
  src: url("./fonts/SourceSansPro-Black.ttf") format("ttf"),
    url("./fonts/SourceSansPro-Regular.ttf") format("ttf");

  font-family: "Source Sans Pro";
  /* font-style: normal;
  font-weight: normal; */
}

body {
  color: #462681;
}

/*HEADER*/

/*Background (Steve) image*/
.background-image-container {
  background-image: url("./images/Header-image.png");
  width: 375px;
  height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/*Title*/
.header-text {
  font-size: 44px;
  color: #462681;
  margin: 20px 139px 375px 25px;
  text-align: left;
  margin: 0px;
  line-height: 55px;
  font-family: "Source Sans Pro Black", arial;
}

nav {
  display: flex;
}

.back-text {
  color: #ffffff;
  font-family: "SourceSansPro-Regular";
  font-size: 18px;
  font-size: 14px;
  margin: 22px 0px 0px 5px;
  font: caption;
}
.back-text-container {
  width: 37px;
  height: 23px;
  margin: 22px 0px 0px 5px;
}

/*Main Content Rectangle container*/

.main-content-container {
  width: 375px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 40px 40px 0px 0px;
  margin-top: -50px;
  border-style: groove;
  border-width: thin;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  border-color: #0000001a;
  border-bottom-style: none;
}

.heading-text-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 30px 0px 20px;
}

/*SVGS*/
.follow-more-icon-container {
  width: 325pt;
  height: 55pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.more-dots-container {
  padding: 20px 5px 10px 0px;
}

.fill-dot {
  fill: #462681;
}

.follow-text {
  color: #462681;
  font-family: "Source Sans Pro Black", arial;
  padding: 2px 0px 0px 5px;
  margin: -5px 0px 0px;
  font-size: 14px;
  text-shadow: 0px 1px 0px;
}

.follow-icon-container {
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 20px;
}

.svg-control {
  padding: 5px 0px 0px 0px;
  margin: -5px 0px 0px;
}
.svg-control-left {
  margin: 15.44px 0px 0px 15.44px;
}

.catorgory-svg-control {
  padding-top: 5px;
}

/*Left Arrow*/
.a-arrow,
.c-arrow {
  fill: none;
}

.a-arrow {
  stroke: #462681;
  stroke-miterlimit: 10;
}

.b-arrow {
  stroke: none;
}

/*Right Arrow*/
.a-left-arrow,
.c-left-arrow {
  fill: none;
}

.a-left-arrow {
  stroke: #fff;
  stroke-miterlimit: 10;
}
.b-left-arrow {
  stroke: none;
}

/*Dots SVG*/
.a,
.b,
.d {
  fill: none;
}
.a,
.b {
  stroke: #462681;
  stroke-miterlimit: 10;
}
.a {
  stroke-width: 2px;
}
.c {
  stroke: none;
}

/*MAIN CONTENT*/

/*Group Statistics Section*/
.group-statistics {
  width: 325px;
  height: 62px;
  margin: 5px 20px 5px 20px;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-width: thin;
  border-color: #462681;
  font-family: "Source Sans Pro Black", arial;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  color: #462681;
}

.group-text-control {
  font-size: 24px;
  display: block;
  margin: 5px 0px -5px 0px;
  text-shadow: 0px 1px 0px;
}

.group2-text-control {
  font-size: 14px;
  margin: 0;
  text-shadow: 0px 1px 0px;
}

/*Patents specific measurements*/
.patents-child {
  width: 56pt;
  height: 45pt;
}

.group-text-parent-center {
  padding: 0px 25px 0px 25px;
  text-align: center;
}

.group-text-parent-left {
  text-align: center;
  padding: 0px 0px 0px 15px;
}

.group-text-parent-right {
  text-align: center;
  padding: 0px 15px 0px 0px;
}

/*Catergories Section*/
.catergories-container {
  width: 325px;
  height: auto;
  display: grid;
  margin: 0px 20px 0px 20px;
  padding: 0px 0px 0px 5px;
}

.catergories-control {
  font-size: 14px;
  text-align: left;
  font-family: "Source Sans Pro Black", arial;
  margin: 10px 0px 10px 0px;
}

.catergory-svg-title-control {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-width: thin;
  padding: 15px 0px 15px 5px;
}

.catergory-text-control {
  font-family: "Source Sans Pro", Regular;
  font-size: 25px;
}

/*List Items*/
.catergory-container {
  padding: 0;
  margin: 0;
}
